<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="cleartype"       content="on">
  <meta name="description"           content="">
  <meta name="keywords"              content="">
  <meta name="fragment"              content="!" />

  <!-- facebook metatags -->
  <meta property="fb:app_id"      content="">
  <meta property="og:title"       content="">
  <meta property="og:url"         content="">
  <meta property="og:image"       content="">
  <meta property="og:description" content="">
  <meta property="og:site_name"   content="">
  <meta property="og:type"        content="website">
  <title>React Redux Starter</title>
</head>
<body>
  <main id="app"></main>
</body>
</html>
